.text-ultra-bold {
    font-weight: 900;
}

.text-bold {
    font-weight: 700;
}

.text-normal {
    font-weight: 400;
}

.text-light {
    font-weight: 300;
}

.text-thin {
    font-weight: 100;
}

.anchor-btn {
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    color: white;
    background: #D9A300;
    text-decoration: none;
    padding: 12px 50px;
}

.cover {
    width: 100%;
    height: 100%;
}


/********* Media Query ***********/
@media (max-width: 425px) {
    .anchor-btn {
        padding: 10px 20px;
    }
}
