.background, .overlay {
    position: absolute;
}

.background {
    background-image: url('../assets/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.overlay {
    background: linear-gradient(
        rgba(0, 0, 0, 0.45) 0%,
        rgba(0, 0, 0, 0.08) 50%,
        rgba(0, 0, 0, 0.09) 60%,
        rgba(0, 0, 0, 0.5) 75%,
        rgba(0, 0, 0, 1) 100%
    );
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 273px 40px;
    text-align: center;
    color: white;
}

.hero h1, .hero p {
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 60px;
}

.hero p {
    font-size: 40px;
    font-style: italic;
}

/********* Media Query ***********/
@media (max-width: 1024px) {
    .hero {
        padding: 200px 35px;
    }

    .hero h1, .hero p {
        margin-bottom: 15px;
    }

    .hero h1 {
        font-size: 44px;
    }

    .hero p {
        font-size: 25px;
    }
}

@media (max-width: 425px) {
    .hero {
        padding: 150px 25px;
    }

    .hero h1, .hero p {
        margin-bottom: 10px;
    }

    .hero h1 {
        font-size: 19px;
    }

    .hero p {
        font-size: 12px;
    }
}
