* {
    box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
}

body, .main {
    position: relative;
}

.main-content {
    position: static;
    padding-top: 80px;
    flex: none;
}

.other-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/********* Navbar ***********/
.navbar, .right-nav-section{
    display: flex;
    flex-direction: row;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    padding: 15px 50px;
    width: 100%;
    z-index: 1;
}

.navbar .logo {
    height: 40px;
}

.navbar .profile-img {
    height: 38px;
}

/********* Footer ***********/
/*Footer style here*/
.footer {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    padding: 40px 167px;
}

.footer h3 {
    font-size: 14px;
    margin-bottom: 30px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    height: 150px;
    flex-wrap: wrap;
}

.footer-links li {
    font-size: 12px;
    flex-basis: 25%;
    min-width: 150px;
}

.dark-bg-footer {
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.light-bg-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: black;
}

/********* Media Queries ***********/
/********* Navbar ***********/
@media (max-width: 768px) {
    .navbar {
        padding: 10px 30px;
    }

    .navbar .logo {
        height: 30px;
    }

    .footer {
        padding: 30px 100px;
    }

    .footer h3 {
        margin-bottom: 30px;
    }

    .footer-links li {
        min-width: 100px;
    }

    .main-content {
        padding-top: 60px;
    }

}

@media(max-width: 425px) {
    .footer {
        padding: 15px 40px;
    }

    .footer h3 {
        margin-bottom: 20px;
    }

    .footer-links li {
        min-width: 80px;
    }

    .navbar .profile-img {
        height: 34px;
    }
}

@media (max-width: 375px) {
    .navbar .logo
    {
        height: 25px;
    }
}
