* {
    box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
    position: relative;
    font-family: 'Lato', sans-serif;
}

/********* Navbar ***********/
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    padding: 15px 50px;
    width: 100%;
    z-index: 1;
}

.navbar img {
    height: 40px;
}

/********* Page body ***********/
.main {
    position: relative;
}

/********* Footer ***********/
/*Footer style here*/
.footer {
    position: relative;
}

.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.footer h3 {
    font-size: 14px;
}

/********* Media Queries ***********/
/********* Navbar ***********/
@media (max-width: 600px) {
    .navbar {
        padding: 10px 30px;
    }

    .navbar img {
        height: 30px;
    }

    .navbar a {
        padding: 12px 30px;
    }
}

@media (max-width: 375px) {
    .navbar img {
        height: 25px;
    }

    .navbar a {
        padding: 12px 10px;
    }
}
