html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.navbar img, .navbar a {
    width: 200px;
    height: 40px;
    margin-top: 15px;
}

.navbar img {
    margin-left: 50px;
}

.navbar a {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-align: center;
    line-height: 40px;
    color: white;
    background: #D9A300;
    text-decoration: none;
    margin-right: 50px;
}
